@font-face {
    font-family: "kenia";
    src: url("../../public/fonts/Kenia-Regular.ttf");
}
@font-face {
    font-family: "raleway";
    src: url("../../public/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "ralewayB";
    src: url("../../public/fonts/Raleway-Bold.ttf");
}